[submodule "external/something-something-v2-baseline.git"]
	path = external/something-something-v2-baseline.git
	url = https://github.com/TwentyBN/something-something-v2-baseline.git
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/linsats/bullet3.git
