<robot name="root">
  <link name="link_openbox_convex_piece_0">

    <contact>
      <lateral_friction value="1.0"/>
      <rolling_friction value="0.0"/>
      <inertia_scaling value="3.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>

    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="-4.46E-06" ixy="-4.55E-07" ixz="1.95E-06" iyy="-2.47E-06" iyz="8.51E-08" izz="2.17E-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <link name="link_openbox_convex_piece_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="8.54E-11"/>
      <inertia ixx="-3.41E-07" ixy="-9.73E-07" ixz="3.02E-06" iyy="1.82E-07" iyz="-1.06E-06" izz="2.38E-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_1.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_1.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_0"/>
    <child link="link_openbox_convex_piece_1"/>
  </joint>

  <link name="link_openbox_convex_piece_3">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.26E-11"/>
      <inertia ixx="6.00E-06" ixy="-7.64E-06" ixz="1.70E-06" iyy="3.52E-06" iyz="-2.53E-07" izz="1.51E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_3.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_3.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_3_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_1"/>
    <child link="link_openbox_convex_piece_3"/>
  </joint>
  <link name="link_openbox_convex_piece_4">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.62E-10"/>
      <inertia ixx="1.40E-05" ixy="-7.57E-06" ixz="6.10E-06" iyy="9.20E-07" iyz="-7.28E-06" izz="1.99E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_4.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_4.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_4_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_3"/>
    <child link="link_openbox_convex_piece_4"/>
  </joint>
  <link name="link_openbox_convex_piece_5">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="8.19E-11"/>
      <inertia ixx="-3.14E-07" ixy="8.84E-07" ixz="-1.99E-07" iyy="-5.76E-08" iyz="-1.02E-06" izz="2.07E-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_5.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_5.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_5_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_4"/>
    <child link="link_openbox_convex_piece_5"/>
  </joint>
  <link name="link_openbox_convex_piece_6">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="4.02E-12"/>
      <inertia ixx="6.30E-07" ixy="-6.57E-08" ixz="4.44E-08" iyy="-3.40E-08" iyz="2.11E-07" izz="7.64E-07"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_6.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_6.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_6_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_5"/>
    <child link="link_openbox_convex_piece_6"/>
  </joint>
  <link name="link_openbox_convex_piece_7">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.64E-10"/>
      <inertia ixx="2.41E-05" ixy="7.88E-06" ixz="2.12E-06" iyy="-2.86E-06" iyz="-1.78E-06" izz="3.10E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_7.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_7.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_7_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_6"/>
    <child link="link_openbox_convex_piece_7"/>
  </joint>
  <link name="link_openbox_convex_piece_8">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="6.57E-12"/>
      <inertia ixx="8.20E-07" ixy="5.85E-07" ixz="2.96E-07" iyy="1.80E-07" iyz="3.11E-07" izz="1.27E-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_8.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_8.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_8_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_7"/>
    <child link="link_openbox_convex_piece_8"/>
  </joint>
  <link name="link_openbox_convex_piece_9">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.60E-10"/>
      <inertia ixx="-3.20E-06" ixy="-3.40E-06" ixz="3.28E-06" iyy="5.91E-06" iyz="-2.59E-07" izz="1.23E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_9.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_9.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_9_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_8"/>
    <child link="link_openbox_convex_piece_9"/>
  </joint>
  <link name="link_openbox_convex_piece_10">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="3.92E-12"/>
      <inertia ixx="-7.91E-08" ixy="3.61E-09" ixz="4.47E-08" iyy="-3.50E-08" iyz="-1.25E-08" izz="4.93E-08"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_10.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_10.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_10_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_9"/>
    <child link="link_openbox_convex_piece_10"/>
  </joint>

  <link name="link_openbox_convex_piece_12">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="3.17E-12"/>
      <inertia ixx="2.64E-07" ixy="-2.72E-07" ixz="-5.69E-08" iyy="1.47E-07" iyz="1.24E-07" izz="5.44E-07"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_12.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_12.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_12_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_10"/>
    <child link="link_openbox_convex_piece_12"/>
  </joint>
  <link name="link_openbox_convex_piece_13">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.40E-11"/>
      <inertia ixx="7.54E-06" ixy="3.20E-06" ixz="-7.45E-08" iyy="-2.50E-07" iyz="-4.14E-06" izz="1.01E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_13.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_13.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_13_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_12"/>
    <child link="link_openbox_convex_piece_13"/>
  </joint>
  <link name="link_openbox_convex_piece_14">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.27E-12"/>
      <inertia ixx="-2.15E-08" ixy="-1.57E-08" ixz="-2.27E-08" iyy="5.93E-08" iyz="7.09E-09" izz="9.09E-08"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_14.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_14.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_14_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_13"/>
    <child link="link_openbox_convex_piece_14"/>
  </joint>

  <link name="link_openbox_convex_piece_16">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.53E-10"/>
      <inertia ixx="2.24E-05" ixy="-1.01E-05" ixz="2.64E-06" iyy="-1.08E-06" iyz="-5.41E-07" izz="3.07E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_16.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_16.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_16_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_14"/>
    <child link="link_openbox_convex_piece_16"/>
  </joint>
  <link name="link_openbox_convex_piece_17">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.72E-10"/>
      <inertia ixx="1.25E-05" ixy="1.36E-05" ixz="2.06E-06" iyy="4.64E-06" iyz="-7.63E-07" izz="2.75E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_17.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_17.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_17_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_16"/>
    <child link="link_openbox_convex_piece_17"/>
  </joint>
  <link name="link_openbox_convex_piece_18">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.50E-10"/>
      <inertia ixx="-3.07E-06" ixy="2.96E-06" ixz="1.70E-06" iyy="4.03E-06" iyz="-2.62E-07" izz="1.00E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_18.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_18.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_18_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_17"/>
    <child link="link_openbox_convex_piece_18"/>
  </joint>
  <link name="link_openbox_convex_piece_19">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.64E-10"/>
      <inertia ixx="-4.77E-06" ixy="5.27E-07" ixz="3.18E-06" iyy="-2.10E-06" iyz="9.12E-08" izz="2.87E-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_19.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="openbox_convex_piece_19.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_openbox_convex_piece_19_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_openbox_convex_piece_18"/>
    <child link="link_openbox_convex_piece_19"/>
  </joint>
</robot>
